<h2 class="text-danger">
    Your account is locked, Please try again after sometime or you may reset your password by
    <a asp-action="ForgotPassword" asp-controller="Account">
        clicking here
    </a>
</h2>