<h1>Not Found Error:</h1>
<div class="alert alert-danger mt-1 mb-1">
<h4>@ViewBag.ErrorTitle </h4>
<h4> @ViewBag.ErrorMessage </h4>
<br />
<a asp-action="Index" asp-controller="Employee" class="btn btn-outline-success">
    Click here to see the list of all employees
</a>
</div>